default/kafkacdc.json
{
  "externalControllerServices" : { },
  "flow" : {
    "createdTimestamp" : 1746770535977,
    "description" : "",
    "identifier" : "kafkacdc",
    "lastModifiedTimestamp" : 1746770535977,
    "name" : "kafkacdc",
    "versionCount" : 0
  },
  "flowContents" : {
    "comments" : "",
    "componentType" : "PROCESS_GROUP",
    "connections" : [ {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "573a2afe-5e1b-3168-9356-d6394e9aeae8",
        "name" : "Funnel",
        "type" : "FUNNEL"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3a4a4a64-5d9d-3521-9e4f-b5970c355f8d",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3d7e3a83-7f16-33ac-b8f3-c8504e3de7ad",
        "name" : "ConsumeKafka",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    }, {
      "backPressureDataSizeThreshold" : "1 GB",
      "backPressureObjectThreshold" : 10000,
      "bends" : [ ],
      "componentType" : "CONNECTION",
      "destination" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "300dbc89-696f-397e-819f-d783f432e9d2",
        "name" : "PutDatabaseRecord",
        "type" : "PROCESSOR"
      },
      "flowFileExpiration" : "0 sec",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "8d63aa0f-f857-3512-b46d-feaffab7d2fd",
      "labelIndex" : 0,
      "loadBalanceCompression" : "DO_NOT_COMPRESS",
      "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
      "name" : "",
      "partitioningAttribute" : "",
      "prioritizers" : [ ],
      "selectedRelationships" : [ "success" ],
      "source" : {
        "comments" : "",
        "groupId" : "flow-contents-group",
        "id" : "3d7e3a83-7f16-33ac-b8f3-c8504e3de7ad",
        "name" : "ConsumeKafka",
        "type" : "PROCESSOR"
      },
      "zIndex" : 0
    } ],
    "controllerServices" : [ {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-3-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-kafka-service-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.kafka.service.api.KafkaConnectionService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "90f304c8-86cf-38cc-9b7a-e2f4075f76db",
      "name" : "Kafka3ConnectionService",
      "properties" : {
        "security.protocol" : "SASL_PLAINTEXT",
        "ack.wait.time" : "5 sec",
        "sasl.username" : "cdc-topic-user",
        "max.poll.records" : "10000",
        "sasl.mechanism" : "SCRAM-SHA-512",
        "isolation.level" : "read_committed",
        "max.block.ms" : "5 sec",
        "bootstrap.servers" : "kafka-cluster-kafka-bootstrap.strimzi-system.svc:9092",
        "default.api.timeout.ms" : "60 sec"
      },
      "propertyDescriptors" : {
        "security.protocol" : {
          "displayName" : "Security Protocol",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "security.protocol",
          "sensitive" : false
        },
        "SSL Context Service" : {
          "displayName" : "SSL Context Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "SSL Context Service",
          "sensitive" : false
        },
        "ack.wait.time" : {
          "displayName" : "Acknowledgment Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "ack.wait.time",
          "sensitive" : false
        },
        "sasl.username" : {
          "displayName" : "SASL Username",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.username",
          "sensitive" : false
        },
        "max.poll.records" : {
          "displayName" : "Max Poll Records",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.poll.records",
          "sensitive" : false
        },
        "sasl.mechanism" : {
          "displayName" : "SASL Mechanism",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.mechanism",
          "sensitive" : false
        },
        "isolation.level" : {
          "displayName" : "Transaction Isolation Level",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "isolation.level",
          "sensitive" : false
        },
        "max.block.ms" : {
          "displayName" : "Max Metadata Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "max.block.ms",
          "sensitive" : false
        },
        "bootstrap.servers" : {
          "displayName" : "Bootstrap Servers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "bootstrap.servers",
          "sensitive" : false
        },
        "sasl.password" : {
          "displayName" : "SASL Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "sasl.password",
          "sensitive" : true
        },
        "default.api.timeout.ms" : {
          "displayName" : "Client Timeout",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "default.api.timeout.ms",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.kafka.service.Kafka3ConnectionService"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-dbcp-service-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.dbcp.DBCPService"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "13173ec3-4616-3605-bd11-e75e4e4813c7",
      "name" : "DBCPConnectionPool",
      "properties" : {
        "dbcp-min-idle-conns" : "0",
        "Max Wait Time" : "500 millis",
        "dbcp-min-evictable-idle-time" : "30 mins",
        "Max Total Connections" : "8",
        "dbcp-max-conn-lifetime" : "-1",
        "dbcp-time-between-eviction-runs" : "-1",
        "dbcp-soft-min-evictable-idle-time" : "-1",
        "dbcp-max-idle-conns" : "8"
      },
      "propertyDescriptors" : {
        "dbcp-min-idle-conns" : {
          "displayName" : "Minimum Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-idle-conns",
          "sensitive" : false
        },
        "Max Wait Time" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Wait Time",
          "sensitive" : false
        },
        "Database Driver Class Name" : {
          "displayName" : "Database Driver Class Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Driver Class Name",
          "sensitive" : false
        },
        "dbcp-min-evictable-idle-time" : {
          "displayName" : "Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-min-evictable-idle-time",
          "sensitive" : false
        },
        "Max Total Connections" : {
          "displayName" : "Max Total Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Total Connections",
          "sensitive" : false
        },
        "dbcp-max-conn-lifetime" : {
          "displayName" : "Max Connection Lifetime",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-conn-lifetime",
          "sensitive" : false
        },
        "Validation-query" : {
          "displayName" : "Validation query",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Validation-query",
          "sensitive" : false
        },
        "Database Connection URL" : {
          "displayName" : "Database Connection URL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database Connection URL",
          "sensitive" : false
        },
        "dbcp-time-between-eviction-runs" : {
          "displayName" : "Time Between Eviction Runs",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-time-between-eviction-runs",
          "sensitive" : false
        },
        "Database User" : {
          "displayName" : "Database User",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Database User",
          "sensitive" : false
        },
        "kerberos-user-service" : {
          "displayName" : "Kerberos User Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "kerberos-user-service",
          "sensitive" : false
        },
        "dbcp-soft-min-evictable-idle-time" : {
          "displayName" : "Soft Minimum Evictable Idle Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-soft-min-evictable-idle-time",
          "sensitive" : false
        },
        "database-driver-locations" : {
          "displayName" : "Database Driver Location(s)",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-driver-locations",
          "resourceDefinition" : {
            "cardinality" : "MULTIPLE",
            "resourceTypes" : [ "FILE", "DIRECTORY", "URL" ]
          },
          "sensitive" : false
        },
        "dbcp-max-idle-conns" : {
          "displayName" : "Max Idle Connections",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "dbcp-max-idle-conns",
          "sensitive" : false
        },
        "Password" : {
          "displayName" : "Password",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Password",
          "sensitive" : true
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.dbcp.DBCPConnectionPool"
    }, {
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-record-serialization-services-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "CONTROLLER_SERVICE",
      "controllerServiceApis" : [ {
        "bundle" : {
          "artifact" : "nifi-standard-services-api-nar",
          "group" : "org.apache.nifi",
          "version" : "2.0.0"
        },
        "type" : "org.apache.nifi.serialization.RecordReaderFactory"
      } ],
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "c3b30757-b704-3e77-bb4d-c03928560a61",
      "name" : "JsonTreeReader",
      "properties" : {
        "Max String Length" : "20 MB",
        "schema-application-strategy" : "SELECTED_PART",
        "Timestamp Format" : "MM/dd/yyyy HH:mm:ss",
        "Date Format" : "MM/dd/yyyy",
        "schema-name" : "${schema.name}",
        "starting-field-strategy" : "ROOT_NODE",
        "Time Format" : "HH:mm:ss",
        "schema-access-strategy" : "infer-schema",
        "schema-text" : "${avro.schema}",
        "Allow Comments" : "false"
      },
      "propertyDescriptors" : {
        "schema-reference-reader" : {
          "displayName" : "Schema Reference Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-reference-reader",
          "sensitive" : false
        },
        "schema-branch" : {
          "displayName" : "Schema Branch",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-branch",
          "sensitive" : false
        },
        "Max String Length" : {
          "displayName" : "Max String Length",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max String Length",
          "sensitive" : false
        },
        "schema-application-strategy" : {
          "displayName" : "Schema Application Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-application-strategy",
          "sensitive" : false
        },
        "Timestamp Format" : {
          "displayName" : "Timestamp Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Timestamp Format",
          "sensitive" : false
        },
        "schema-inference-cache" : {
          "displayName" : "Schema Inference Cache",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-inference-cache",
          "sensitive" : false
        },
        "Date Format" : {
          "displayName" : "Date Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Date Format",
          "sensitive" : false
        },
        "schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-name",
          "sensitive" : false
        },
        "starting-field-strategy" : {
          "displayName" : "Starting Field Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-strategy",
          "sensitive" : false
        },
        "schema-registry" : {
          "displayName" : "Schema Registry",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "schema-registry",
          "sensitive" : false
        },
        "starting-field-name" : {
          "displayName" : "Starting Field Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "starting-field-name",
          "sensitive" : false
        },
        "Time Format" : {
          "displayName" : "Time Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Time Format",
          "sensitive" : false
        },
        "schema-access-strategy" : {
          "displayName" : "Schema Access Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-access-strategy",
          "sensitive" : false
        },
        "schema-version" : {
          "displayName" : "Schema Version",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-version",
          "sensitive" : false
        },
        "schema-text" : {
          "displayName" : "Schema Text",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "schema-text",
          "sensitive" : false
        },
        "Allow Comments" : {
          "displayName" : "Allow Comments",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Allow Comments",
          "sensitive" : false
        }
      },
      "scheduledState" : "DISABLED",
      "type" : "org.apache.nifi.json.JsonTreeReader"
    } ],
    "defaultBackPressureDataSizeThreshold" : "1 GB",
    "defaultBackPressureObjectThreshold" : 10000,
    "defaultFlowFileExpiration" : "0 sec",
    "executionEngine" : "INHERITED",
    "externalControllerServiceReferences" : { },
    "flowFileConcurrency" : "UNBOUNDED",
    "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
    "funnels" : [ {
      "componentType" : "FUNNEL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "573a2afe-5e1b-3168-9356-d6394e9aeae8",
      "position" : {
        "x" : -112.0,
        "y" : 96.0
      }
    } ],
    "identifier" : "flow-contents-group",
    "inputPorts" : [ ],
    "labels" : [ ],
    "maxConcurrentTasks" : 1,
    "name" : "kafkacdc",
    "outputPorts" : [ ],
    "position" : {
      "x" : 0.0,
      "y" : 0.0
    },
    "processGroups" : [ ],
    "processors" : [ {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-standard-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "300dbc89-696f-397e-819f-d783f432e9d2",
      "maxBackoffPeriod" : "10 mins",
      "name" : "PutDatabaseRecord",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : 328.0,
        "y" : -136.0
      },
      "properties" : {
        "put-db-record-allow-multiple-statements" : "false",
        "table-schema-cache-size" : "100",
        "put-db-record-quoted-table-identifiers" : "false",
        "put-db-record-unmatched-column-behavior" : "Fail on Unmatched Columns",
        "put-db-record-translate-field-names" : "true",
        "put-db-record-dcbp-service" : "13173ec3-4616-3605-bd11-e75e4e4813c7",
        "put-db-record-query-timeout" : "0 seconds",
        "rollback-on-failure" : "false",
        "put-db-record-statement-type" : "INSERT",
        "put-db-record-binary-format" : "UTF-8",
        "db-type" : "PostgreSQL",
        "put-db-record-quoted-identifiers" : "false",
        "put-db-record-unmatched-field-behavior" : "Ignore Unmatched Fields",
        "put-db-record-max-batch-size" : "1000",
        "put-db-record-record-reader" : "c3b30757-b704-3e77-bb4d-c03928560a61",
        "database-session-autocommit" : "false"
      },
      "propertyDescriptors" : {
        "put-db-record-allow-multiple-statements" : {
          "displayName" : "Allow Multiple SQL Statements",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-allow-multiple-statements",
          "sensitive" : false
        },
        "table-schema-cache-size" : {
          "displayName" : "Table Schema Cache Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "table-schema-cache-size",
          "sensitive" : false
        },
        "put-db-record-schema-name" : {
          "displayName" : "Schema Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-schema-name",
          "sensitive" : false
        },
        "put-db-record-field-containing-sql" : {
          "displayName" : "Field Containing SQL",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-field-containing-sql",
          "sensitive" : false
        },
        "put-db-record-quoted-table-identifiers" : {
          "displayName" : "Quote Table Identifiers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-quoted-table-identifiers",
          "sensitive" : false
        },
        "Statement Type Record Path" : {
          "displayName" : "Statement Type Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Statement Type Record Path",
          "sensitive" : false
        },
        "put-db-record-unmatched-column-behavior" : {
          "displayName" : "Unmatched Column Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-unmatched-column-behavior",
          "sensitive" : false
        },
        "Delete Keys" : {
          "displayName" : "Delete Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Delete Keys",
          "sensitive" : false
        },
        "put-db-record-catalog-name" : {
          "displayName" : "Catalog Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-catalog-name",
          "sensitive" : false
        },
        "put-db-record-translate-field-names" : {
          "displayName" : "Translate Field Names",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-translate-field-names",
          "sensitive" : false
        },
        "put-db-record-dcbp-service" : {
          "displayName" : "Database Connection Pooling Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "put-db-record-dcbp-service",
          "sensitive" : false
        },
        "put-db-record-query-timeout" : {
          "displayName" : "Max Wait Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-query-timeout",
          "sensitive" : false
        },
        "rollback-on-failure" : {
          "displayName" : "Rollback On Failure",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "rollback-on-failure",
          "sensitive" : false
        },
        "put-db-record-statement-type" : {
          "displayName" : "Statement Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-statement-type",
          "sensitive" : false
        },
        "put-db-record-binary-format" : {
          "displayName" : "Binary String Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-binary-format",
          "sensitive" : false
        },
        "db-type" : {
          "displayName" : "Database Type",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "db-type",
          "sensitive" : false
        },
        "put-db-record-update-keys" : {
          "displayName" : "Update Keys",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-update-keys",
          "sensitive" : false
        },
        "put-db-record-quoted-identifiers" : {
          "displayName" : "Quote Column Identifiers",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-quoted-identifiers",
          "sensitive" : false
        },
        "put-db-record-table-name" : {
          "displayName" : "Table Name",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-table-name",
          "sensitive" : false
        },
        "put-db-record-unmatched-field-behavior" : {
          "displayName" : "Unmatched Field Behavior",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-unmatched-field-behavior",
          "sensitive" : false
        },
        "put-db-record-max-batch-size" : {
          "displayName" : "Maximum Batch Size",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "put-db-record-max-batch-size",
          "sensitive" : false
        },
        "put-db-record-record-reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "put-db-record-record-reader",
          "sensitive" : false
        },
        "Data Record Path" : {
          "displayName" : "Data Record Path",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Data Record Path",
          "sensitive" : false
        },
        "database-session-autocommit" : {
          "displayName" : "Database Session AutoCommit",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "database-session-autocommit",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.processors.standard.PutDatabaseRecord",
      "yieldDuration" : "1 sec"
    }, {
      "autoTerminatedRelationships" : [ ],
      "backoffMechanism" : "PENALIZE_FLOWFILE",
      "bulletinLevel" : "WARN",
      "bundle" : {
        "artifact" : "nifi-kafka-nar",
        "group" : "org.apache.nifi",
        "version" : "2.0.0"
      },
      "comments" : "",
      "componentType" : "PROCESSOR",
      "concurrentlySchedulableTaskCount" : 1,
      "executionNode" : "ALL",
      "groupIdentifier" : "flow-contents-group",
      "identifier" : "3d7e3a83-7f16-33ac-b8f3-c8504e3de7ad",
      "maxBackoffPeriod" : "10 mins",
      "name" : "ConsumeKafka",
      "penaltyDuration" : "30 sec",
      "position" : {
        "x" : -264.0,
        "y" : -136.0
      },
      "properties" : {
        "Topics" : "cdc-topic",
        "Commit Offsets" : "true",
        "Key Format" : "byte-array",
        "Key Attribute Encoding" : "utf-8",
        "Topic Format" : "names",
        "Header Encoding" : "UTF-8",
        "Max Uncommitted Time" : "1 sec",
        "Kafka Connection Service" : "90f304c8-86cf-38cc-9b7a-e2f4075f76db",
        "Separate By Key" : "false",
        "Processing Strategy" : "FLOW_FILE",
        "Group ID" : "cdc-topic-group",
        "auto.offset.reset" : "earliest",
        "Output Strategy" : "USE_VALUE"
      },
      "propertyDescriptors" : {
        "Topics" : {
          "displayName" : "Topics",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Topics",
          "sensitive" : false
        },
        "Commit Offsets" : {
          "displayName" : "Commit Offsets",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Commit Offsets",
          "sensitive" : false
        },
        "Header Name Pattern" : {
          "displayName" : "Header Name Pattern",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Name Pattern",
          "sensitive" : false
        },
        "Key Format" : {
          "displayName" : "Key Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Format",
          "sensitive" : false
        },
        "Key Record Reader" : {
          "displayName" : "Key Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Key Record Reader",
          "sensitive" : false
        },
        "Message Demarcator" : {
          "displayName" : "Message Demarcator",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Message Demarcator",
          "sensitive" : false
        },
        "Record Reader" : {
          "displayName" : "Record Reader",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Reader",
          "sensitive" : false
        },
        "Key Attribute Encoding" : {
          "displayName" : "Key Attribute Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Key Attribute Encoding",
          "sensitive" : false
        },
        "Topic Format" : {
          "displayName" : "Topic Format",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Topic Format",
          "sensitive" : false
        },
        "Header Encoding" : {
          "displayName" : "Header Encoding",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Header Encoding",
          "sensitive" : false
        },
        "Max Uncommitted Time" : {
          "displayName" : "Max Uncommitted Time",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Max Uncommitted Time",
          "sensitive" : false
        },
        "Kafka Connection Service" : {
          "displayName" : "Kafka Connection Service",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Kafka Connection Service",
          "sensitive" : false
        },
        "Separate By Key" : {
          "displayName" : "Separate By Key",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Separate By Key",
          "sensitive" : false
        },
        "Processing Strategy" : {
          "displayName" : "Processing Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Processing Strategy",
          "sensitive" : false
        },
        "Record Writer" : {
          "displayName" : "Record Writer",
          "dynamic" : false,
          "identifiesControllerService" : true,
          "name" : "Record Writer",
          "sensitive" : false
        },
        "Group ID" : {
          "displayName" : "Group ID",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Group ID",
          "sensitive" : false
        },
        "auto.offset.reset" : {
          "displayName" : "Auto Offset Reset",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "auto.offset.reset",
          "sensitive" : false
        },
        "Output Strategy" : {
          "displayName" : "Output Strategy",
          "dynamic" : false,
          "identifiesControllerService" : false,
          "name" : "Output Strategy",
          "sensitive" : false
        }
      },
      "retriedRelationships" : [ ],
      "retryCount" : 10,
      "runDurationMillis" : 0,
      "scheduledState" : "ENABLED",
      "schedulingPeriod" : "0 sec",
      "schedulingStrategy" : "TIMER_DRIVEN",
      "style" : { },
      "type" : "org.apache.nifi.kafka.processors.ConsumeKafka",
      "yieldDuration" : "1 sec"
    } ],
    "remoteProcessGroups" : [ ],
    "scheduledState" : "ENABLED",
    "statelessFlowTimeout" : "1 min"
  },
  "flowEncodingVersion" : "1.0",
  "latest" : false,
  "parameterContexts" : { },
  "parameterProviders" : { },
  "snapshotMetadata" : {
    "author" : "nifiuser",
    "flowIdentifier" : "kafkacdc",
    "timestamp" : 0
  }
}